
.input-group label {
  display: flex;
  align-items: flex-end;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group-label {
  font-size: 18px;
  margin-bottom: 6px;
}

.input-group input {
  height: 44px;
  width: 340px;
  max-width: 90%;
  font-size: 18px;
  border-radius: 6px;
  border: solid 1px #9B9B9B;
  padding-left: 10px;
  margin-right: 20px;
}

.input-group input::placeholder {
  color: #9b9b9b;
}

.input-group input:disabled {
  background-color: #dcdcdc;
  color: #000;
}

.input-group input:focus {
  outline: none;
}

.input-explainer {
  font-style: italic;
  display: inline-flex;
  height: 42px;
  align-items: center;
}

.input-explainer .bold {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 1042px) {
  .input-group label {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .input-explainer {
    display: inline-block;
    margin-top: 10px;
  }

}
