.acme {
  background-color: var(--secondary-background-color);
  font-family: Open Sans;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.acme .spacer {
  flex: 1;
}
