.unum-id {
  font-family: Lato;
  font-weight: 300;
  text-align: left;
  background-color: var(--unumid-background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.unum-id-inner {
  padding: 100px;
}

.unum-id .spacer {
  flex: 1;
}

.unum-id h1, .unum-id h2 {
  font-family: Playfair Display;
  margin-bottom: 15px;
  font-weight: 700;
}

.unum-id h1 {
  font-size: 48px;
  padding-top: 0;
}

.unum-id h2 {
  font-size: 32px;
  margin-top: 30px;
}

.unum-id a {
  color: var(--unuimd-green);
  text-decoration: none;
}

.unum-id input {
  font-weight: 400;
}


@media (max-width: 767px) {
  .unum-id {
    padding: 20px;
  }

  .unum-id h1 {
    font-size: 32px;
  }

  .unum-id h2 {
    font-size: 24px;
  }
}
