.bug-report-form {
  display: flex;
  flex-direction: column;
}

.bug-report-form label {
  margin-bottom: 5px;
  margin-top: 15px;
}

.bug-report-header {
  text-align: center;
  margin-top: 0;
}

.button-wrapper {
  text-align: center;
}

.bug-report-form button, .close-button {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 18px;
  cursor: pointer;
}

.bug-report-modal .x-close-button {
  background-color: transparent;
  border: none;
  margin-left: 100%;
  cursor: pointer;
}

.report-button {
  color: var(--unumid-red);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
