.register {
  max-width: 1000px;
}

.register form {
  margin-bottom: 20px;
}

.register button {
  height: 40px;
  min-width: 180px;
  background-color: var(--unuimd-green);
  border: none;
  color: var(--secondary-text-color);
  font-size: 18px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

.register .login-link {
  margin-top: 5px;
}
