:root {
  --primary-background-color: #1f61cc;
  --secondary-background-color: #f5f5f5;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --unumid-background-color: #ffffff;
  --unuimd-green: #0dbc3d;
  --unumid-dull-green: #86dd9e;
  --unumid-red: #eb0d28;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 75px;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

button {
  font: inherit;
  font-family: inherit;
}

input {
  font: inherit;
  font-family: inherit;
}

@media (max-width: 1224px) {
  h1 {
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
  }
}

@font-face {
  font-family: 'Silom';
  src: url(./assets/fonts/Silom.ttf) format('truetype');
}
